<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head', {title: 'Shop | Cookieshop'}) %>
<body>
    <%- include('../includes/header') %>

    <main>
      <p>Our current offering:</p>
      <ul>
        <% cookieOffering.forEach(offering => { %>
          <li>
            <% if(offering.isInStock) { %> 
              <a href="/cookies/<%= offering.slug %>"><%= offering.name %>: <%= readablePrice(offering.priceInCents) %></a>
            <% } else { %>
              <%= offering.name %> [SOLD OUT] 
            <% } %>
          </li>
        <% }) %>
      </ul>
    </main>

  <%- include('../includes/footer') %>
</body>
</html>