<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head', {title: 'Shop | Cookieshop'}) %>
<body>
    <%- include('../includes/header') %>

    <main>
      <p>Our current offering:</p>
      <ul>
        <% cookieOffering.forEach(offering => { %>
          <li>
            <a href="/cookies/<%= offering.slug %>"><%= offering.name %></a>
            <% if(!offering.isInStock) { %> [SOLD OUT] <% } %> 
          </li>
        <% }) %>
      </ul>
    </main>

  <%- include('../includes/footer') %>
</body>
</html>